In [1]:
import json

In [ ]:
# p66 JSON operations

In [2]:
json.dumps(['foo', {'bar': ('baz', None, 1.0, 2)}])

'["foo", {"bar": ["baz", null, 1.0, 2]}]'

In [3]:
G = json.dumps(['foo',{'bar':('baz',None,1.0,2)}])

In [6]:
G

'["foo", {"bar": ["baz", null, 1.0, 2]}]'

In [7]:
# json doesn't work with datetime, have to write your own encoder:

In [10]:
import datetime
#json.dumps(datetime.datetime.now())   # TypeError: Object of type datetime is not JSON serializable

from dateutil import parser
class JSONDateTimeEncoder(json.JSONEncoder):
    def default(self,obj):
        if isinstance(obj,(datetime.date,datetime.datetime)):
            return obj.isoformat()
        else:
            return json.JSONEncoder.default(self,obj)

def dumps(obj):
    return json.dumps(obj,cls=JSONDateTimeEncoder)

In [11]:
now_str = dumps({'time':datetime.datetime.now()})
print(now_str)

{"time": "2019-07-30T10:29:12.899306"}

In [12]:
# SQLAlchemy

In [11]:
nobel_winners = [
    {'category':'Physics','name':'Albert Einstein','nationality':'Swiss','sex':'male','year':1921},
    {'category':'Physics','name':'Paul Dirac','nationality':'British','sex':'male','year':1933},
    {'category':'Chemistry','name':'Marie Curie','nationality':'Polish','sex':'female','year':1911},
]

In [15]:
# Creating the Database Engine
    # it's the first thing you need to do when starting SQLAlchemy session
    # establishes connection, and performs any needed conversions to generic SQL instructions
    # there exist engines for almost every popular DB
        # as well as a memory option, which holds the DB in RAM, allowing fast access for testing
    # engines are interchangeable
        # so you could develop code using convenient file-based SQLite
        # and switch during production to something a bit more industrial such as Postgresql
        # by changing a single config string !

# form for specifying a DB URL is:
    # dialect+driver://username:password@host:port/database

import sqlalchemy as SQLA

In [28]:
# engine = SQLA.create_engine('mysql://kyran:mypasswd@localhost/nobel_prize')  # no module named mysql
engine = SQLA.create_engine('sqlite:///data/nobel_prize.db',echo=True)  # echo makes it verbose

In [29]:
Base = SQLA.ext.declarative.declarative_base()

# Why does this sort of command sometimes work with nested libraries and other times not ??????
# We had the same problem with email.mime 
# It only worked AFTER I had run the following cell????????

In [23]:
# from sqlalchemy.ext.declarative import declarative_base

In [31]:
type(Base)

sqlalchemy.ext.declarative.api.DeclarativeMeta

In [66]:
class Winner(Base):
    __tablename__ = 'winners'
    
    id = SQLA.Column(SQLA.Integer,primary_key=True)
    name = SQLA.Column(SQLA.String)
    category = SQLA.Column(SQLA.String)
    year = SQLA.Column(SQLA.Integer)
    nationality = SQLA.Column(SQLA.String)
    sex = SQLA.Column(SQLA.Enum('male','female'))
    
    def __repr__(self):
        return "<Winner(name='%s', category='%s', year='%s')>" % (self.name,self.category,self.year)
            # the __repr__ statement sets print format !!

C:\Users\rek\Anaconda3\lib\site-packages\sqlalchemy\ext\declarative\clsregistry.py:129: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Winner, and will be replaced in the string-lookup table.
  % (item.__module__, item.__name__)

InvalidRequestError: Table 'winners' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [33]:
Base.metadata.create_all(engine)

2019-07-30 11:13:06,677 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-30 11:13:06,678 INFO sqlalchemy.engine.base.Engine ()
2019-07-30 11:13:06,679 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-30 11:13:06,679 INFO sqlalchemy.engine.base.Engine ()
2019-07-30 11:13:06,681 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("winners")
2019-07-30 11:13:06,681 INFO sqlalchemy.engine.base.Engine ()
2019-07-30 11:13:06,684 INFO sqlalchemy.engine.base.Engine
CREATE TABLE winners (
	id INTEGER NOT NULL,
	name VARCHAR,
	category VARCHAR,
	year INTEGER,
	nationality VARCHAR,
	sex VARCHAR(6),
	PRIMARY KEY (id),
	CHECK (sex IN ('male', 'female'))
)


2019-07-30 11:13:06,685 INFO sqlalchemy.engine.base.Engine ()
2019-07-30 11:13:06,694 INFO sqlalchemy.engine.base.Engine COMMIT

In [34]:
# That declares the new 'winners' table.

In [38]:
# Now we can start adding instances to it
# We need a session to interact with
Session = SQLA.orm.sessionmaker(bind=engine)
session = Session()

In [39]:
# use Winner class to create instances and table rows, then add them to the session

In [40]:
nobel_winners

[{'category': 'Physics',
  'name': 'Albert Einstein',
  'nationality': 'Swiss',
  'sex': 'male',
  'year': 1921},
 {'category': 'Physics',
  'name': 'Paul Dirac',
  'nationality': 'British',
  'sex': 'male',
  'year': 1933},
 {'category': 'Chemistry',
  'name': 'Marie Curie',
  'nationality': 'Polish',
  'sex': 'female',
  'year': 1911}]

In [41]:
albert = Winner(**nobel_winners[0])   # ** unpacks into K-V pairs
session.add(albert)
session.new     # new is the set of any items that have been added to this session

IdentitySet([<Winner(name='Albert Einstein', category='Physics', year='1921')>])

In [42]:
# Note that all DB insertions and deletions are taking place in python
# only upon a commit statement does the DB get altered

    # Tip: Use as few commits as possible, allowing SQLAlchemy to work its magic behind the scenes.
    # When you commit, your various DB manipulations should be summarized by SQLA and communicated in an efficient fashion
    # Commits involve establishing a DB handshake and negotiating transactions
            # often a slow process and one you want to limit as much as possible
            # leveraging SQLA's bookkeeping abilities to full advantage

In [43]:
session.expunge(albert)     # remove an object from the session with 'expunge'
session.new

IdentitySet([])

In [44]:
session.add(albert)
session.new

IdentitySet([<Winner(name='Albert Einstein', category='Physics', year='1921')>])

In [45]:
session.expunge(albert)
session.new

IdentitySet([])

In [46]:
# there is an 'expunge_all' method that removes all new objects added to the session

In [47]:
# Now let's add all the members of our nobel_winners list to the session and commit them to the DB:
winner_rows = [Winner(**w) for w in nobel_winners]
session.add_all(winner_rows)
session.commit()

2019-07-30 11:24:07,296 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-30 11:24:07,298 INFO sqlalchemy.engine.base.Engine INSERT INTO winners (name, category, year, nationality, sex) VALUES (?, ?, ?, ?, ?)
2019-07-30 11:24:07,299 INFO sqlalchemy.engine.base.Engine ('Albert Einstein', 'Physics', 1921, 'Swiss', 'male')
2019-07-30 11:24:07,302 INFO sqlalchemy.engine.base.Engine INSERT INTO winners (name, category, year, nationality, sex) VALUES (?, ?, ?, ?, ?)
2019-07-30 11:24:07,302 INFO sqlalchemy.engine.base.Engine ('Paul Dirac', 'Physics', 1933, 'British', 'male')
2019-07-30 11:24:07,303 INFO sqlalchemy.engine.base.Engine INSERT INTO winners (name, category, year, nationality, sex) VALUES (?, ?, ?, ?, ?)
2019-07-30 11:24:07,304 INFO sqlalchemy.engine.base.Engine ('Marie Curie', 'Chemistry', 1911, 'Polish', 'female')
2019-07-30 11:24:07,305 INFO sqlalchemy.engine.base.Engine COMMIT

In [48]:
# Now we have committed our nobel_winners data to the DB.
# Let's see what we can do with it, and how to recreate the target list in Ex 3.1

In [49]:
# Querying the SQL DB:

In [51]:
# count the number of rows in our table
session.query(Winner).count()

2019-07-30 11:26:44,101 INFO sqlalchemy.engine.base.Engine SELECT count(*) AS count_1
FROM (SELECT winners.id AS winners_id, winners.name AS winners_name, winners.category AS winners_category, winners.year AS winners_year, winners.nationality AS winners_nationality, winners.sex AS winners_sex
FROM winners) AS anon_1
2019-07-30 11:26:44,102 INFO sqlalchemy.engine.base.Engine ()

3

In [53]:
# Retrieve all Swiss Winners:
result = session.query(Winner).filter_by(nationality='Swiss')
list(result)

2019-07-30 11:27:26,545 INFO sqlalchemy.engine.base.Engine SELECT winners.id AS winners_id, winners.name AS winners_name, winners.category AS winners_category, winners.year AS winners_year, winners.nationality AS winners_nationality, winners.sex AS winners_sex
FROM winners
WHERE winners.nationality = ?
2019-07-30 11:27:26,546 INFO sqlalchemy.engine.base.Engine ('Swiss',)

In [54]:
# Retrieve all Physics Winners:
result = session.query(Winner).filter_by(category='Physics')
list(result)

2019-07-30 11:28:14,137 INFO sqlalchemy.engine.base.Engine SELECT winners.id AS winners_id, winners.name AS winners_name, winners.category AS winners_category, winners.year AS winners_year, winners.nationality AS winners_nationality, winners.sex AS winners_sex
FROM winners
WHERE winners.category = ?
2019-07-30 11:28:14,138 INFO sqlalchemy.engine.base.Engine ('Physics',)

[<Winner(name='Albert Einstein', category='Physics', year='1921')>,
 <Winner(name='Paul Dirac', category='Physics', year='1933')>]

In [56]:
result = session.query(Winner).filter_by(year < 1931)   # doesn't work
list(result)

NameError: name 'year' is not defined

In [ ]:
# 'filter_by' uses KeyWord expressions, pythonic style
# 'filter' uses SQL-esque expressions !!!

In [58]:
# Let's get all winners before 1931:
result = session.query(Winner).filter(Winner.year < 1931)   # use filter instead of filter_by
list(result)

2019-07-30 11:31:51,973 INFO sqlalchemy.engine.base.Engine SELECT winners.id AS winners_id, winners.name AS winners_name, winners.category AS winners_category, winners.year AS winners_year, winners.nationality AS winners_nationality, winners.sex AS winners_sex
FROM winners
WHERE winners.year < ?
2019-07-30 11:31:51,974 INFO sqlalchemy.engine.base.Engine (1931,)

[<Winner(name='Albert Einstein', category='Physics', year='1921')>,
 <Winner(name='Marie Curie', category='Chemistry', year='1911')>]

In [60]:
# boolean (filter1 AND filter2)
result = session.query(Winner).filter(Winner.category=='Physics',Winner.nationality!='Swiss')
list(result)

2019-07-30 11:33:10,225 INFO sqlalchemy.engine.base.Engine SELECT winners.id AS winners_id, winners.name AS winners_name, winners.category AS winners_category, winners.year AS winners_year, winners.nationality AS winners_nationality, winners.sex AS winners_sex
FROM winners
WHERE winners.category = ? AND winners.nationality != ?
2019-07-30 11:33:10,226 INFO sqlalchemy.engine.base.Engine ('Physics', 'Swiss')

In [61]:
# get a row based on ID number:
session.query(Winner).get(3)

In [62]:
# Now let's retrieve winners ordered by year:
res = session.query(Winner).order_by('year')
list(res)

2019-07-30 11:35:35,248 INFO sqlalchemy.engine.base.Engine SELECT winners.id AS winners_id, winners.name AS winners_name, winners.category AS winners_category, winners.year AS winners_year, winners.nationality AS winners_nationality, winners.sex AS winners_sex
FROM winners ORDER BY winners.year
2019-07-30 11:35:35,249 INFO sqlalchemy.engine.base.Engine ()

[<Winner(name='Marie Curie', category='Chemistry', year='1911')>,
 <Winner(name='Albert Einstein', category='Physics', year='1921')>,
 <Winner(name='Paul Dirac', category='Physics', year='1933')>]

In [63]:
# Reconstructing our target list as a Python dict object requires some effort

In [64]:
def inst_to_dict(inst, delete_id=True):
    dat = {}
    for column in inst.__table__.columns:               # accesses the instance's table class to get a list of column objects
        dat[column.name] = getattr(inst,column.name)
    if delete_id:
        dat.pop('id')                                   # remove the SQL primary ID field
    return dat

In [65]:
winner_rows = session.query(Winner)
print(type(winner_rows))       # Is this an iterator?
print()
nobel_winners = [inst_to_dict(w) for w in winner_rows]
print(nobel_winners)

<class 'sqlalchemy.orm.query.Query'>

2019-07-30 11:41:33,857 INFO sqlalchemy.engine.base.Engine SELECT winners.id AS winners_id, winners.name AS winners_name, winners.category AS winners_category, winners.year AS winners_year, winners.nationality AS winners_nationality, winners.sex AS winners_sex
FROM winners
2019-07-30 11:41:33,858 INFO sqlalchemy.engine.base.Engine ()
[{'name': 'Albert Einstein', 'category': 'Physics', 'year': 1921, 'nationality': 'Swiss', 'sex': 'male'}, {'name': 'Paul Dirac', 'category': 'Physics', 'year': 1933, 'nationality': 'British', 'sex': 'male'}, {'name': 'Marie Curie', 'category': 'Chemistry', 'year': 1911, 'nationality': 'Polish', 'sex': 'female'}]

In [67]:
# You can update database rows by changing a property:
marie = session.query(Winner).get(3)
marie.nationality='French'
session.dirty   # shows any changed instances that have not yet been committed to the DB

IdentitySet([<Winner(name='Marie Curie', category='Chemistry', year='1911')>])

In [68]:
# Let's commit Marie's changes and show that her nationality has been changed:
session.commit()

2019-07-30 11:45:57,650 INFO sqlalchemy.engine.base.Engine UPDATE winners SET nationality=? WHERE winners.id = ?
2019-07-30 11:45:57,651 INFO sqlalchemy.engine.base.Engine ('French', 3)
2019-07-30 11:45:57,654 INFO sqlalchemy.engine.base.Engine COMMIT

In [69]:
session.dirty

IdentitySet([])

In [70]:
session.query(Winner).get(3).nationality

2019-07-30 11:46:29,157 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-30 11:46:29,159 INFO sqlalchemy.engine.base.Engine SELECT winners.id AS winners_id, winners.name AS winners_name, winners.category AS winners_category, winners.year AS winners_year, winners.nationality AS winners_nationality, winners.sex AS winners_sex
FROM winners
WHERE winners.id = ?
2019-07-30 11:46:29,159 INFO sqlalchemy.engine.base.Engine (3,)

'French'

In [71]:
# In addition to updating DB rows, you can append .delete() to delete the instances that result from a query:
session.query(Winner).filter_by(name='Albert Einstein').delete()

2019-07-30 11:47:50,533 INFO sqlalchemy.engine.base.Engine SELECT winners.id AS winners_id, winners.name AS winners_name, winners.category AS winners_category, winners.year AS winners_year, winners.nationality AS winners_nationality, winners.sex AS winners_sex
FROM winners
WHERE winners.id = ?
2019-07-30 11:47:50,534 INFO sqlalchemy.engine.base.Engine (1,)
2019-07-30 11:47:50,537 INFO sqlalchemy.engine.base.Engine SELECT winners.id AS winners_id, winners.name AS winners_name, winners.category AS winners_category, winners.year AS winners_year, winners.nationality AS winners_nationality, winners.sex AS winners_sex
FROM winners
WHERE winners.id = ?
2019-07-30 11:47:50,537 INFO sqlalchemy.engine.base.Engine (2,)
2019-07-30 11:47:50,539 INFO sqlalchemy.engine.base.Engine DELETE FROM winners WHERE winners.name = ?
2019-07-30 11:47:50,540 INFO sqlalchemy.engine.base.Engine ('Albert Einstein',)

1

In [72]:
list(session.query(Winner))
# Einstein has been removed

2019-07-30 11:48:20,518 INFO sqlalchemy.engine.base.Engine SELECT winners.id AS winners_id, winners.name AS winners_name, winners.category AS winners_category, winners.year AS winners_year, winners.nationality AS winners_nationality, winners.sex AS winners_sex
FROM winners
2019-07-30 11:48:20,519 INFO sqlalchemy.engine.base.Engine ()

[<Winner(name='Paul Dirac', category='Physics', year='1933')>,
 <Winner(name='Marie Curie', category='Chemistry', year='1911')>]

In [73]:
session.dirty  # the deletion must have occurred immediately? b/c there's nothing "dirty"

IdentitySet([])

In [74]:
# You can also drop an entire table if required:
Winner.__table__.drop(engine)

2019-07-30 11:49:21,526 INFO sqlalchemy.engine.base.Engine
DROP TABLE winners
2019-07-30 11:49:21,527 INFO sqlalchemy.engine.base.Engine ()
2019-07-30 11:49:26,600 INFO sqlalchemy.engine.base.Engine ROLLBACK

OperationalError: (sqlite3.OperationalError) database is locked
[SQL:
DROP TABLE winners]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [75]:
# error: DB locked?

In [76]:
# We did simple stuff
    # single small winners table
    # no foreign keys 
    # no relationships with other tables
# SQLA adds the same level of convenience in dealing with many-to-one, one-to-many, and other DB table relationships
    # joins, etc.
# Examples @ http://docs.sqlalchemy.org/en/rel_1_0/orm/tutorial.html#querying-with-joins

In [77]:
# Easier SQL with Dataset:

In [78]:
# https://dataset.readthedocs.org/en/latest

In [79]:
# module designed to make working with SQL DBs easier and more Pythonic than existing powerhouses like SQLAlchemy
# removes a lot of the formal boilerplate (e.g. schema defns)
# built on top of SQLAlchemy

In [80]:
# import dataset
# I will skip this b/c requires conda/pip install

ModuleNotFoundError: No module named 'dataset'

In [81]:
nobel_winners

[{'name': 'Albert Einstein',
  'category': 'Physics',
  'year': 1921,
  'nationality': 'Swiss',
  'sex': 'male'},
 {'name': 'Paul Dirac',
  'category': 'Physics',
  'year': 1933,
  'nationality': 'British',
  'sex': 'male'},
 {'name': 'Marie Curie',
  'category': 'Chemistry',
  'year': 1911,
  'nationality': 'Polish',
  'sex': 'female'}]

In [12]:
# Let's add a few nobel_winners:
nobel_winners.extend([
    {'name':'Niels Bohr','category':'Physics','nationality':'Danish','sex':'male','year':1922},
    {'name':'Nelson Mandela','category':'Peace','nationality':'South African','sex':'male','year':1993},
    {'name':'Linus Pauling','category':'Peace','nationality':'American','sex':'male','year':1962},
])

In [13]:
len(nobel_winners)

6

In [ ]:
# Okay, now let's do some similar operations with MongoDB (noSQL document store)  !!

In [1]:
from pymongo import MongoClient

In [4]:
client = MongoClient()    # creates a mongo client, using default host and ports

#db = client.nobel_prize                      # creates or accesses the db "nobel_prize"
#coll = db.winners                            # if a collection named "winners" exists, retrieve it; else create it

# But we're not going to use that Syntax !!!! 
    # Why?   See the next cell:

In [5]:
# Accessing and creating a MongoDB w/ python involves the same operation: dot notation and square-bracket key access

# very convenient... but it means that a single spelling mistake could create an unwanted DB and/or cause failures
                    # without returning any errors initially !
# For this reason, I advise using constant strings to access your MongoDB databases and collections:

DB_NOBEL_PRIZE = 'nobel_prize'
COLL_WINNERS = 'winners'
db = client[DB_NOBEL_PRIZE]
coll = db[COLL_WINNERS]

In [3]:
def get_mongo_database(db_name, host='localhost', port=27017,username=None,password=None):
    """ Get named database from MongoDB with/without authentication """
    if username and password:
        mongo_uri = 'mongodb://%s:%s@%s/%s' % (username,password,host,db_name)
            # we specify the DB name here b/c the user might not have general privileges for the DB
        conn = MongoClient(host,port)
    else:
        conn = MongoClient(host,port)
    return conn[db_name]

In [9]:
# we can now create a Nobel Prize DB and add our target dataset.
# First get a 'Winners' collection:

# typo in book here: no function named 'mongo_to_database'. instead he means 'get_mongo_database'
db = get_mongo_database(DB_NOBEL_PRIZE)
coll = db[COLL_WINNERS]

In [14]:
# inserting our Nobel Prize dataset is then as easy as can be:
coll.insert(nobel_winners)  
# we'll use the len-6 list, his 3 plus 3 that I extended it

C:\Users\rek\Anaconda3\envs\dale_pyjsviz\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.

[ObjectId('5d4084cae86124340a621986'),
 ObjectId('5d4084cae86124340a621987'),
 ObjectId('5d4084cae86124340a621988'),
 ObjectId('5d4084cae86124340a621989'),
 ObjectId('5d4084cae86124340a62198a'),
 ObjectId('5d4084cae86124340a62198b')]

In [ ]:
# 24-bit strings shown as ObjectIds

In [16]:
nobel_winners
# Mongo has already left its stamp on our nobel_winners list. It added a hidden '_id' property
# so you should be aware that Mongo can modify mutable input args.!...

[{'category': 'Physics',
  'name': 'Albert Einstein',
  'nationality': 'Swiss',
  'sex': 'male',
  'year': 1921,
  '_id': ObjectId('5d4084cae86124340a621986')},
 {'category': 'Physics',
  'name': 'Paul Dirac',
  'nationality': 'British',
  'sex': 'male',
  'year': 1933,
  '_id': ObjectId('5d4084cae86124340a621987')},
 {'category': 'Chemistry',
  'name': 'Marie Curie',
  'nationality': 'Polish',
  'sex': 'female',
  'year': 1911,
  '_id': ObjectId('5d4084cae86124340a621988')},
 {'name': 'Niels Bohr',
  'category': 'Physics',
  'nationality': 'Danish',
  'sex': 'male',
  'year': 1922,
  '_id': ObjectId('5d4084cae86124340a621989')},
 {'name': 'Nelson Mandela',
  'category': 'Peace',
  'nationality': 'South African',
  'sex': 'male',
  'year': 1993,
  '_id': ObjectId('5d4084cae86124340a62198a')},
 {'name': 'Linus Pauling',
  'category': 'Peace',
  'nationality': 'American',
  'sex': 'male',
  'year': 1962,
  '_id': ObjectId('5d4084cae86124340a62198b')}]

In [19]:
# PyMongo documentation:

# Warning
# Do not install the bson package from pypi.
    # PyMongo comes with its own bson package;
    # doing pip install bson or easy_install bson installs a third-party package that is incompatible with PyMongo. 
import bson  
oid = bson.ObjectId()
oid.generation_time

datetime.datetime(2019, 7, 30, 18, 3, 8, tzinfo=<bson.tz_util.FixedOffset object at 0x000002B7A755DB70>)

In [20]:
oid = bson.ObjectId()
oid.generation_time

datetime.datetime(2019, 7, 30, 18, 3, 29, tzinfo=<bson.tz_util.FixedOffset object at 0x000002B7A755DB70>)

In [21]:
# those timestamps were 'nowtime', not related to the DB access we were just doing

In [23]:
# Now that we've got some items in our 'Winners' collection, MongoDB makes finding them very easy
# find() takes a dictionary query:

res = coll.find({'category':'Chemistry'})
list(res)

[{'_id': ObjectId('5d4084cae86124340a621988'),
  'category': 'Chemistry',
  'name': 'Marie Curie',
  'nationality': 'Polish',
  'sex': 'female',
  'year': 1911}]

In [24]:
res = coll.find({'category':'Peace'})
list(res)

[{'_id': ObjectId('5d4084cae86124340a62198a'),
  'name': 'Nelson Mandela',
  'category': 'Peace',
  'nationality': 'South African',
  'sex': 'male',
  'year': 1993},
 {'_id': ObjectId('5d4084cae86124340a62198b'),
  'name': 'Linus Pauling',
  'category': 'Peace',
  'nationality': 'American',
  'sex': 'male',
  'year': 1962}]

In [26]:
# special dollar-prefix operators allow for sophisticated querying:
res = coll.find({'year':{'$gt': 1930}})
list(res)

[{'_id': ObjectId('5d4084cae86124340a621987'),
  'category': 'Physics',
  'name': 'Paul Dirac',
  'nationality': 'British',
  'sex': 'male',
  'year': 1933},
 {'_id': ObjectId('5d4084cae86124340a62198a'),
  'name': 'Nelson Mandela',
  'category': 'Peace',
  'nationality': 'South African',
  'sex': 'male',
  'year': 1993},
 {'_id': ObjectId('5d4084cae86124340a62198b'),
  'name': 'Linus Pauling',
  'category': 'Peace',
  'nationality': 'American',
  'sex': 'male',
  'year': 1962}]

In [28]:
# Boolean expressions are also prefixed with dollar-signs

# e.g. find all winners either after 1940 or who are female:
res = coll.find({'$or':[{'year':{'$gt':1940}},{'sex':'female'}]})
list(res)

[{'_id': ObjectId('5d4084cae86124340a621988'),
  'category': 'Chemistry',
  'name': 'Marie Curie',
  'nationality': 'Polish',
  'sex': 'female',
  'year': 1911},
 {'_id': ObjectId('5d4084cae86124340a62198a'),
  'name': 'Nelson Mandela',
  'category': 'Peace',
  'nationality': 'South African',
  'sex': 'male',
  'year': 1993},
 {'_id': ObjectId('5d4084cae86124340a62198b'),
  'name': 'Linus Pauling',
  'category': 'Peace',
  'nationality': 'American',
  'sex': 'male',
  'year': 1962}]

In [29]:
# An empty query dict will find all documents in the collection:
res = coll.find({})
list(res)

[{'_id': ObjectId('5d4084cae86124340a621986'),
  'category': 'Physics',
  'name': 'Albert Einstein',
  'nationality': 'Swiss',
  'sex': 'male',
  'year': 1921},
 {'_id': ObjectId('5d4084cae86124340a621987'),
  'category': 'Physics',
  'name': 'Paul Dirac',
  'nationality': 'British',
  'sex': 'male',
  'year': 1933},
 {'_id': ObjectId('5d4084cae86124340a621988'),
  'category': 'Chemistry',
  'name': 'Marie Curie',
  'nationality': 'Polish',
  'sex': 'female',
  'year': 1911},
 {'_id': ObjectId('5d4084cae86124340a621989'),
  'name': 'Niels Bohr',
  'category': 'Physics',
  'nationality': 'Danish',
  'sex': 'male',
  'year': 1922},
 {'_id': ObjectId('5d4084cae86124340a62198a'),
  'name': 'Nelson Mandela',
  'category': 'Peace',
  'nationality': 'South African',
  'sex': 'male',
  'year': 1993},
 {'_id': ObjectId('5d4084cae86124340a62198b'),
  'name': 'Linus Pauling',
  'category': 'Peace',
  'nationality': 'American',
  'sex': 'male',
  'year': 1962}]

In [ ]:
# Full list of queries available at MongoDB documentation (http://bit.ly/1Yxn5c1)

In [30]:
# As a final test, let's turn our new 'Winners' collection back into a Python list of dictionaries:

def mongo_coll_to_dicts(dbname='test', collname='test', query={}, del_id=True, **kw):
    db = get_mongo_database(dbname,**kw)
    res = list(db[collname].find(query))  # default = empty dict, finds all documents in the collection!
    if del_id:
        for r in res:
            r.pop('_id')  # removes the hidden '_id' field that mongo had created
    return res

In [31]:
mongo_coll_to_dicts(DB_NOBEL_PRIZE,COLL_WINNERS)
# This does not clear the DB, just reads everything out

[{'category': 'Physics',
  'name': 'Albert Einstein',
  'nationality': 'Swiss',
  'sex': 'male',
  'year': 1921},
 {'category': 'Physics',
  'name': 'Paul Dirac',
  'nationality': 'British',
  'sex': 'male',
  'year': 1933},
 {'category': 'Chemistry',
  'name': 'Marie Curie',
  'nationality': 'Polish',
  'sex': 'female',
  'year': 1911},
 {'name': 'Niels Bohr',
  'category': 'Physics',
  'nationality': 'Danish',
  'sex': 'male',
  'year': 1922},
 {'name': 'Nelson Mandela',
  'category': 'Peace',
  'nationality': 'South African',
  'sex': 'male',
  'year': 1993},
 {'name': 'Linus Pauling',
  'category': 'Peace',
  'nationality': 'American',
  'sex': 'male',
  'year': 1962}]